:root {
  --beige: #F5F5DC;
  --skyblue: #8dd1f0;
  --accent-color: #546e7a;
  --dark-grey: #3e3e3e;
}

.custom-navbar {
  background-color: var(--beige);
  padding: 5px;
}

.custom-heading {
  color: var(--white);
}

.nav-link.active {
  color: var(--skyblue);
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  color: var(--skyblue);
}

.color {
  color: var(--dark-grey);
}

p.dark-grey {
  color: var(--dark-grey);
  font-size: 20px;
}

.iconStyle {
  color: var(--dark-grey);
}

.githubIcon:hover {
  color: var(--skyblue);
}

.styleBox {
  width: 300px;
  height: 50px;
  font-size: 18px;
}

.messageBox{
  width: 330px;
  height: 170px;
  font-size: 18px;
}

.btn-primary {
  background-color: rgb(181, 179, 179);
  color: var(--dark-grey);
  border: 1px solid rgb(181, 179, 179);
  margin-top: 130px;
  padding: 10px 15px 10px 15px;

  &:hover {
  background-color: var(--skyblue);
  color: var(--dark-grey);
  border: 1px solid #2E3B4E;
  };
}