:root {
  --white : #FFFFFF;
  --bluegrey: #B0BEC5;
  --lightgrey: #78909C;
  --accent-color: #546e7a;
  --text-dark-grey: #414141;
}

.custom-navbar {
  background-color: var(--bluegrey);
  padding: 5px;
}

.custom-heading {
  color: var(--white);
}

.nav-link.active {
  color: var(--lightgrey);
}

.nav-link {
  color: var(--white);
}

.nav-link:hover {
  color: var(--lightgrey);
}

.text-color {
  color: var(--text-dark-grey);
}

p.text-dark-grey {
  color: var(--text-dark-grey);
  font-size: 20px;
}
